@model Admission.Models.Guardian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guardian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Full_Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identity_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identity_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documents)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GuardianID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
