@model Admission.Models.Guardian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guardian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GFull_Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GFull_Names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gcell_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gcell_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gidentity_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gidentity_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gpostal_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gpostal_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GDocuments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GDocuments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GuardianID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
