@model IEnumerable<Admission.Models.Guardian>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GFull_Names)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gcell_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gidentity_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gpostal_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GDocuments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GFull_Names)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gcell_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gidentity_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gpostal_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GDocuments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GuardianID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GuardianID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GuardianID })
        </td>
    </tr>
}

</table>
